#root {
    width: 100%;
    height: 100%;
    overflow: auto;
    /* background-image: url('./images/background.png'); */
  }

.welcome {
    margin: auto;
  }

.imageCenter{
    text-align: center;
 }

.calendar{
  width: 80%;

}

.map{
  width: 80%;

}